<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cart Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }

    /* Remove the jumbotron's default bottom margin */
     .jumbotron {
      margin-bottom: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body style="font-family:Comic san MS; font-size: 14">

<div th:include="header.html"></div>

<div th:include="navigation.html"></div>
<div class="container">
    <div class="panel panel-success">
        <div class="panel-heading">Your Cart Items</div>
        <div class="panel-fbody">
            <table class="table table-hover table-bordered table-sm">
                <thead class="thead-dark">
                <tr>

                    <th>Product Image</th>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Action</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="cartItem,stat : ${cartObj.cartItems}">


                    <td style="vertical-align:middle"> <img src="https://placehold.it/150x80?text=IMAGE" style="width: 50px; height: 50px;" align="center"/></td>
                    <td style="vertical-align:middle"><span  th:text="${cartItem.ProductName}">Rs. 0</span></td>
                    <td style="vertical-align:middle">
                        <form th:id="${stat.index + 'removeItem'}" th:action="@{/removeItem.do}"  th:method="delete">
                            <input type="hidden"  th:value="${cartItem.itemId}" name="cartItemId">
                        </form>
                        <div class="form-group" >
                            <form th:id="${stat.index + 'updateQuantity'}" th:action="@{/updateQuantity.do}"  th:method="post">
                                <input type="number" name="quantity" th:value="${cartItem.quantity}" id="quantity" style="width: 40px;" >
                                <input type="hidden"  th:value="${cartItem.itemId}" name="removeCartItemId">
                            </form>
                        </div>
                    </td>
                    <td style="vertical-align:middle"><span  th:text="${cartItem.LineItemTotal}"></span></td>
                    <td style="vertical-align:middle">
                        <button type="submit" class="btn btn-default btn-sm" th:form="${stat.index + 'removeItem'}">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                    </td>
                </tr>
                <tr>

                </tbody>
            </table>
        </div>
    </div>


</div>
<div class="container">
    <div class="row">
        <!--<div class="col-sm-4" style="text-align:right; width: 50%">-->

                <!--<div class="form-group align-middle">-->
                    <!--<input type="email" class="form-control" id="email" placeholder="COUPON CODE">-->
                <!--</div>-->

        <!--</div>-->
        <!--<div class="col-sm-4" style="text-align:left;">-->
            <!--<a href="#" class="btn btn-info" >-->
                <!--APPLY-->
            <!--</a>-->
        <!--</div>-->
        <div class="col-sm-4" style="float:right;">
            <table class="table table-condensed">
               <tbody>
               <tr>
                   <td><span>Sub Total</span></td>
                   <td>Rs. <span th:text="${cartObj.cartTotal}">0</span></td>
               </tr>
               <tr>
                   <td><span>Delivery Charges</span></td>
                   <td>Rs. <span>0</span></td>
               </tr>
               <tr>
                   <td><span>Discount Amount</span></td>
                   <td>Rs. <span th:text="${cartObj.discountAmount}">0</span></td>
               </tr>
               <tr class="active">
                   <td>Total</td>
                   <td>Rs. <span th:text="${cartObj.cartTotal}">0</span></td>
               </tr>
               </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container">
    <div class="panel panel-success">
        <div class="panel-heading">Delivery Address</div>
        <div class="panel-body">
            <form class="form-horizontal" action="/action_page.php">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="address">Address:</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="address" placeholder="Enter address details"  rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pin">Pincode:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="pin" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="city">City:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="city" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="state">State:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="state" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="country">Country:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="country" readonly>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4" style="float: right">

                <input type="submit" class="btn btn-lg btn-success btn-block" value="Continue"/>

        </div>

    </div>

</div>
<div th:include="footer.html"></div>

<script>
    $( ".quantity" ).change(function() {
        $.post( "test.php", { name: "John", time: "2pm" })
                .done(function( data ) {
                    alert( "Data Loaded: " + data );
                });
    });
</script>
</body>
</html>
