<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cart Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }

    /* Remove the jumbotron's default bottom margin */
     .jumbotron {
      margin-bottom: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body style="font-family:Comic san MS; font-size: 14">

<div th:include="header.html"></div>

<div th:include="navigation.html"></div>

<form class="form" action="review.html">
<div class="container">
    <table class="table table-hover  table-sm">
        <thead class="thead-dark">
        <tr>

            <th>Product Image</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="cartItem,index : ${cartObj.cartItems}">
            <form th:id="${index}" th:action="@{/updateQuantity.do}" th:object="${cartItem}" th:method="post">

            <td> <img src="https://placehold.it/150x80?text=IMAGE" style="width: 50px; height: 50px;" align="center"/></td>
            <td><span  th:text="${cartItem.ProductName}">Rs. 0</span></td>
            <td>
                <div class="form-group" >
                    <select class="form-control quantity" placeholder="QTY" style="width: 60px;" th:value="${cartItem.quantity}" th:field="${cartItem.quantity}" onchange="this.form.submit()">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </td>
            <td><span  th:text="${cartItem.LineItemTotal}"></span></td>
                <td>
                    <input type="hidden" th:field="${cartItem.productId}" th:value="${cartItem.productId}">
                    <a th:href="${'removeItem.do/'+cartItem.cartItemId}" class="btn btn-info" role="button">
                        Remove
                    </a>
                </td>
                </form>
        </tr>
        <tr>

        </tbody>
    </table>

</div>

<div class="container">
    <div class="row">
        <!--<div class="col-sm-4" style="text-align:right; width: 50%">-->

                <!--<div class="form-group align-middle">-->
                    <!--<input type="email" class="form-control" id="email" placeholder="COUPON CODE">-->
                <!--</div>-->

        <!--</div>-->
        <!--<div class="col-sm-4" style="text-align:left;">-->
            <!--<a href="#" class="btn btn-info" >-->
                <!--APPLY-->
            <!--</a>-->
        <!--</div>-->
        <div class="col-sm-4" style="float:right;">
            <table class="table table-condensed">
               <tbody>
               <tr>
                   <td><span>Sub Total</span></td>
                   <td>Rs. <span th:text="${cartObj.cartTotal}">0</span></td>
               </tr>
               <tr>
                   <td><span>Delivery Charges</span></td>
                   <td>Rs. <span>0</span></td>
               </tr>
               <tr>
                   <td><span>Discount Amount</span></td>
                   <td>Rs. <span th:text="${cartObj.discountAmount}">0</span></td>
               </tr>
               <tr class="active">
                   <td>Total</td>
                   <td>Rs. <span th:text="${cartObj.cartTotal}">0</span></td>
               </tr>
               </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container">
    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Continue"/>
</div>
</form>
<div th:include="footer.html"></div>

<script>
    $( ".quantity" ).change(function() {
        $.post( "test.php", { name: "John", time: "2pm" })
                .done(function( data ) {
                    alert( "Data Loaded: " + data );
                });
    });
</script>
</body>
</html>
