<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Category Landing Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }

    /* Remove the jumbotron's default bottom margin */
     .jumbotron {
      margin-bottom: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body style="font-family:Comic san MS; font-size: 14">

<div th:include="header.html"></div>


<div th:include="navigation.html"></div>

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active"><a href="#">Categories</a></li>
        </ol>
    </nav>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Beauty, Health, Grocery</div>
                <div class="panel-body">
                    <a class="btn btn-link">Beauty & Grooming</a><br>
                    <a class="btn btn-link">Luxury Beauty</a><br>
                    <a class="btn btn-link">Make-up</a><br>
                    <a class="btn btn-link">Health & Personal Care</a><br>
                    <a class="btn btn-link">Household Supplies</a><br>
                    <a class="btn btn-link">Personal Care Appliances</a><br>
                    <a class="btn btn-link">Diet & Nutrition</a><br>
                    <a class="btn btn-link">Value Bazaar</a><br>
                    <a class="btn btn-link">All Grocery & Gourmet Foods</a><br>
                    <a class="btn btn-link">Coffee, Tea & Beverages</a><br>
                    <a class="btn btn-link">Snack Foods</a><br>
                </div>
            </div>
        </div>

    </div>
</div><br>

<br><br>

<div th:include="footer.html"></div>


</body>
</html>
