<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product list Page</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }

    /* Remove the jumbotron's default bottom margin */
     .jumbotron {
      margin-bottom: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body style="font-family:Comic san MS; font-size: 14">

<div th:include="/header.html"></div>




</div>

<div th:include="/navigation.html"></div>

<div class="container">


    <h2>Review Your Orders:</h2>

</div>

<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th colspan="2">Product Details</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><img src="../image/default_image.jpg" style="width: 50px; height: 50px;" align="center"/></td>
            <td>John</td>
            <td>
                <span>2</span>
            </td>
            <td><div>Rs. 500</div></td>
        </tr>
        <tr>
            <td><img src="../image/default_image.jpg" style="width: 50px; height: 50px;" align="center"/></td>
            <td>John</td>
            <td>
                <span>2</span>
            </td>
            <td>mary@example.com</td>
        </tr>
        <tr>
            <td><img src="../image/default_image.jpg" style="width: 50px; height: 50px;" align="center"/></td>
            <td>John</td>
            <td>
               <span>2</span>
            </td>
            <td>july@example.com</td>
        </tr>
        </tbody>
    </table>

</div>




<div class="container">
    <div class="row">
        <div class="col-sm-8">
        </div>
        <div class="col-sm-4">
            <table class="table table-condensed">
                <thead>
                <th colspan="2">
                    CART SUMMARY :
                </th>
                </thead>
                <tbody>
                <tr>
                    <td><span>SUB TOTAL</span></td>
                    <td>Rs. 150</td>
                </tr>
                <tr>
                    <td><span>DELIVERY</span></td>
                    <td>Rs. 0</td>
                </tr>
                <tr>
                    <td><span>DISCOUNT</span></td>
                    <td>Rs. 0</td>
                </tr>
                <tr class="active">
                    <td>TOTAL</td>
                    <td>Rs. 150</td>
                </tr>
                <tr style="text-align:right;">
                    <td colspan="2">
                        <form class="form-inline" action="confirmation.html">
                            <button type="submit" class="btn btn-danger">Place Order</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>





<div th:include="/footer.html"></div>

</body>
</html>